# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/

# MyPy / type checking
.mypy_cache/
.pyre/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# data
data/
.env